* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Bebas Neue', cursive;
    display: flex;
}

.calculator-pocket {
    height: 450px;
    width: 350px;
    margin: auto;
    padding: 2px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.display {
    background-color: #dcdbe1;
    font-size: 3rem;
border: solid black 0.5px;
color: black;
border-radius: 5px;
width: 100%;
height: 65%;

}

button {

    padding: 20px 35px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #64278f;
    color: white;
    border: solid black 0.5px;
    outline: none;
    transition: 0.2s all;
}

button:active {
    transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.btn-value {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: .4em;
}

[data-state="selected"] {
    background: grey;
}